<div class="container__menu-bar">
    <ul>
        <li><a href="https://www.linkedin.com/in/natanael-luiz/">Linkedin</a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/NatanaeLuiz">Github</a></li>
        <li><span>•</span></li>
        <li><a href="https://www.youtube.com/">Youtube</a></li>
        <li><span>•</span></li>
        <li><a href="https://natanaeluiz.github.io/resume/">Curriculo</a></li>
        <li><span>•</span></li>
        <li><a [routerLink]="['pokemon']">Login</a></li>
    </ul>
</div>